/* General Styling for Login Form */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* LoginForm.css */
  background: no-repeat center center fixed;

  background-size: cover;
}

.login-form-card {
  background-color: rgba(255, 255, 255, 0.8);

  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-form-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-family: "Arial", sans-serif;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #3498db;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.general-error {
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.submit-button {
  padding: 15px;
  background-color: #1c7fc2;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #2980b9;
}

.submit-button:active {
  background-color: #1f6f91;
}

/* Animation for the form card */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form-card {
  animation: fadeIn 0.5s ease-in-out;
}
