.salary-container {
  padding: 20px;
}

.salary-card {
  background: linear-gradient(135deg, #f06, #834);
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.salary-card p {
  font-size: 18px;
}

.salary-total {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
